/* contact */
.contact{
    margin-bottom: 100px;
}
.contact__left .sub{
    color: var(--orange) !important;
    margin-bottom: 5px;
}
.contact__left .title{
    color: var(--title);
}
.contact__left .list__item i{
    color: var(--orange);
}
.contact__left .list__item .right p{
    color: var(--title);
    text-transform: capitalize;
    
}
.contact__left .list__item .right a{
    transition: all .5s ease;
}
.contact__left .list__item .right a:hover{
    color: var(--orange);
}
.contact__right{
    padding-right: 150px;
}
.contact__right input{
    transition: all .5s ease;
}
.contact__right input:focus {
    border-color: var(--orange);
}
.contact__right button{
    text-transform: uppercase;
    background-color: var(--orange);
    color: var(--white);
    transition: all .5s ease;
}
.contact__right button:hover{
    background-color: var(--green);
}

/* map */
.map{
    margin-bottom: 100px;
    /* display: none; */
}
/* footer */
footer{
    /* display: none; */
}