/* service */
.service {
    /* display: none; */
    padding: 100px 0;
    background-image: url('../img/image1.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    margin-bottom: 100px;
}

.searvice .title {
    color: var(--title);
}

.service__content .breadcrumb a {}

.service__content .breadcrumb:hover a {
    color: var(--orange);
    transition: all .5s ease;
}

/* product */
.product{
    /* display: none; */
    margin-bottom: 100px;
}
.product__content .item {
    /* border: 1px solid red; */
}

.product__content .item__wrapper {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 1px 10px 0 rgba(158, 158, 158, 0.2);
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(18.5px);
    border-radius: 10px;
    transition: all .5s ease;
}
.product__content .item__wrapper:hover{
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 1px 50px 0 rgba(158, 158, 158, 0.2);
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(18.5px);
    border-radius: 10px;
}
.product__content .item i {
    color: var(--orange);

}

.product__content .item__title {
    color: var(--title);
    transition: all .5s ease;
}
.product__content .item__title:hover{
    color: var(--orange);
}

/* reason */
.reason{
    /* display: none; */
    margin-bottom: 150px;
}
.reason__left img{
    width: 100%;
    object-fit: cover;
}
.reason__right .sub_title{
    color: var(--orange);
}
.reason__right h2.title{
    color: var(--title);
}
.reason__right .content{
    
}
.reason__right .team__item--icon{
    color: var(--orange);
}
.reason__right .team__item--title{
    color: var(--title);
}
/* number */
.number{
    /* display: none; */
    margin-bottom: 100px;
}
.number__item i{
    color: var(--green);
    background-color: rgb(0 159 77 / 4%);
}
.number__item .amount{
    color: var(--title);
}
.number__item .content{
    color: var(--title);
    font-weight: 400;
}

/* request */
.request{
    background: url('../img/img2.jpg');
    background-color: grey;
    background-blend-mode: multiply;
    padding: 100px 0;
    color: var(--white);
    margin-bottom: 100px;
}

.request__sub{}
.request__title{}
.request__btn{
    background-color: var(--orange);
    transition: all .5s ease;
    outline: none;
    border: none;
}
.request__btn:hover{
    background-color: var(--green);

}
.request__btn a{
    color: var(--white);
}
/* footer */
footer{
    margin-bottom: 80px;
}
.footer-item{
    margin-bottom: 50px;
}
.footer-item.contact h3{
    color: var(--title);
    font-family: var(--f_secondary);
}
.footer-item.introduce .logo a{
    color: var(--orange);
}

.footer-item.introduce .license a{
    color: var(--green);
    transition: all .5s ease;
}
.footer-item.introduce .license a:hover{
    color: var(--orange);
}

.footer-item.newsletter .newsletter__title{
    color: var(--title);
    font-family: var(--f_secondary);
}
.footer-item.newsletter .newsletter__content input{

}
.footer-item.newsletter .newsletter__content button{
    background-color: var(--green);
    color: white;
}
.footer-item.newsletter .newsletter__content .list-icon__item i{
    color: var(--green);
    background: rgb(10 191 83 / 8%);;
}
.footer-item.newsletter .newsletter__content .list-icon__item:hover i{
    color: var(--orange);
    background-color: rgb(255 201 69 / 19%);;
}