*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
.logo{
    position: relative;
    font-size: 32px;
    font-family: 'Volkhov', serif;
    font-weight: 400;

}
.logo i{
    display: block;
    position: absolute;
    top: -10px;
    left: 55px;
    font-size: 20px;
}
/* footer */
.footer-item.newsletter .newsletter__content input{
    
}
.footer-item.newsletter .newsletter__content button{
    background-color: rgb(0, 159, 77);
    color: white;
}
.footer-item.newsletter .newsletter__content .list-icon__item i{
    color: rgb(0, 159, 77);
    background: rgb(10 191 83 / 8%);;
}
.footer-item.newsletter .newsletter__content .list-icon__item:hover i{
    color: rgb(251, 129, 30);
    background-color: rgb(255 201 69 / 19%);;
}