:root {
    --orange:  #fb811e;
    --green:    #009f4d;
    --text:     #707070;
    --title:    #060606;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--text);
    background-color: rgb(255, 255, 255);

}
a{
    text-decoration: none;
    color: var(--text);
}
li{
    list-style: none;
}
.logo{
    position: relative;
    font-size: 32px;
    font-family: 'Volkhov', serif;
    font-weight: 400;

}
.logo i{
    display: block;
    position: absolute;
    top: -10px;
    left: 55px;
    font-size: 20px;
}
/* footer */
.footer-item.newsletter .newsletter__content input{

}
.footer-item.newsletter .newsletter__content button{
    background-color: var(--green);
    color: white;
}
.footer-item.newsletter .newsletter__content .list-icon__item i{
    color: rgb(0, 159, 77);
    background: rgb(10 191 83 / 8%);;
}
.footer-item.newsletter .newsletter__content .list-icon__item:hover i{
    color: var(--orange);
    background-color: rgb(255 201 69 / 19%);;
}